*{
margin:0px;
padding:0px;
}

body{
	height:100%;
	background-color:#FFF4F4;
}

#name{
	text-decoration:none;
}
#name:link{
	color:black;
}
#name:visited{
	color:black;
}

#navbar{
	width:100%;
	background: #E0FFFF;
}

ul{
	text-align: right;
	padding-right: 100px;
}

li{
	display: inline;
	margin: 0 25px 0 25px;
	font-family: "Cabin Condensed";
	font-style: bold;
	font-size: 24px;
}

.navlink{
	text-decoration: none;
	opacity:0.3;
}
.navlink:link{
	color:black;
}
.navlink:visited{
	color:black;
}

#navAbout:hover{
	opacity: 1;
}
#navContact:hover{
	opacity: 1;
}

header{
display:block;
text-align:center;
font-family: 'Kaushan Script', sans-serif;
font-size: 35px;
font-weight:500;
border:10px solid #DB7093;
margin:0 auto;
width:500px;
background:#FFF4F4;
margin-top:.5%;
}

form{
	outline:none;
	border:transparent;
}

#separation{
padding-bottom: 22.5px;
border:1px solid #E0FFFF;
background: #E0FFFF;
}
#separation_2{
border:1px;
height:100%;
}
#background{
background-color:#FFF4F4;
height:100%;
}

#home_section{
background-color:#ffffff;
display:block;
text-align:center;
font: 15px "Lato", Helvetica, Arial, sans-serif;
border:2px solid #87CEFA;
margin-left: auto;
margin-right:auto;
width:900px;
height:525px;
margin-top:-2%;
}

#text{
	padding-top:12%;
}

#aboutText{
	padding-top:6%;
}

#awning{
	/*
margin-top:1%;
background-color:#FFF4F4;
*/
display:block;
margin-left: auto;
margin-right: auto;
}

h3{
	padding-top:1%;
	font: 24px "Raleway", sans-serif;
}

#intro{
	padding-top:3%;
	font-size:17px;
}

#paragraph{
	padding-top:12%;
	font-size:17px;
}

#locationInput{
	display:block;
	margin-top:8%;
}

#textarea{
	font: 14px "Hind", Helvetica, Arial, sans-serif;
	text-align: center;
	resize: none;
	height: 25px;
}

#contact{
	padding-top:10%;
	font-size: 20px;
}
#contactText{
	font-size:16px;
}


#main_section{
background:#ffffff;
display:block;
text-align:center;
font: 15px "Lato", Helvetica, Arial, sans-serif;
border:2px solid #87CEFA;
margin-left: auto;
margin-right:auto;
width:900px;
height:525px;
margin-top:-2%;
}

#title{
margin-top:4%;
font: 32px "Indie Flower", sans-serif;
}

#rating{
	margin-top:-5%;
}

#imgdiv{
	padding-top:1%;
}

#img{
	border:1px gray solid;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	/*border-color: #F5F4EF;*/
}

#loc{
font-size: 17px;
}

#next{
	outline:none;
	border:none;
	background:none;
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid #DB7093;
	float:right;
	margin-right:9%;
	margin-top:10%;
	background-color: transparent;
}
#next:hover{
-webkit-transform: scale(1.3);
 -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#prev{
	outline:none;
	border:none;
	background:none;
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent; 
	border-right:60px solid #DB7093; 
	float:left;
	margin-left:9%;
	margin-top:10%;
	background-color: transparent;
}
#prev:hover{
-webkit-transform: scale(1.3);
 -ms-transform: scale(1.3);
 transform: scale(1.3);
}

#button{
	display:block;
	margin-left:auto;
	margin-right:auto;
	border: 0;
	font: 15px "Hind", Helvetica, Arial, sans-serif;
}

.btn {
  background: #87cefa;
  background-image: -webkit-linear-gradient(top, #87cefa, #b8dcf0);
  background-image: -moz-linear-gradient(top, #87cefa, #b8dcf0);
  background-image: -ms-linear-gradient(top, #87cefa, #b8dcf0);
  background-image: -o-linear-gradient(top, #87cefa, #b8dcf0);
  background-image: linear-gradient(to bottom, #87cefa, #b8dcf0);
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  border-color: transparent;
  -webkit-box-shadow: 0px 0px 3px #666666;
  -moz-box-shadow: 0px 0px 3px #666666;
  box-shadow: 0px 0px 3px #666666;
  color: #000000;
  font-size: 20px;
  padding: 8px 35px 8px 35px;
  text-decoration: none;
  margin-top:1%;
  opacity:0.85;
  -webkit-transition: opacity 450ms ease-in-out;
  -moz-transition: opacity 450ms ease-in-out;
  -o-transition: opacity 450ms ease-in-out;
  transition: opacity 450ms ease-in-out;
  outline: none;
}

.btn:hover {
  opacity:1;
  text-decoration: none;
}

.btn:active{
	position: relative;
	top:2px;
    padding: 4px 35px 4px 35px;
}
/*
#lastpart{
	background-color:#FFF4F4;
}

#lastpart2{
	background-color:#FFF4F4;
	height:110px;
}
*/

footer{
  position:fixed;
  bottom: 0px;
  width:100%;
  background:#ffffff;
  text-align:center;
  border-top: 1px solid #87CEFA;
  font: 15px/1.5 'Lato', sans-serif;
}

@media print, screen and (max-width: 960px) {
	header{
		font-size:30px;
		width: 400px;
	}

	ul{
		padding-right: 0px;
	}

	li{
		margin:0 10px 0 0;
		font-size: 20px;
	}

	#home_section{
		width:450px;
		height:400px;
  	}
  	#main_section{
  		width:450px;
  	}
  	h3{
		font-size: 20px;
	}

	#intro{
		padding-top:3%;
		font-size:16px;
	}

  	#awning{
  		width:475px;
  		margin-top:-1%;
  	}
}

@media print, screen and (max-height: 900px) {
	header{
		font-size:30px;
	}

	#home_section{
		height:450px;
	}

	#main_section{
		height:450px;
		padding-top:-5%;
	}

	#title{
		font-size:28px;
	}
	#rating{
		width:124.5px;
		height:22.5px;
	}
	#img{
		width:320px;
		height:240px;
	}
	#lastpart{
		height:40px;
	}
}

@media print, screen and (max-height: 768px) {
	header{
		font-size:28px;
		width: 400px;
	}

	ul{
		padding-right: 0px;
	}

	li{
		margin:0 10px 0 0;
		font-size: 24px;
	}
	#home_section{
		width:450px;
		height:450px;
		border-top:none;
  	}
	#main_section{
		width:450px;
		height:450px;
		border-top:none;
	}
	#awning{
		width:475px;
		margin-top:-1%;
	}
	#title{
		font-size:26px;
		padding-top:2%;
	}
	#loc{
		font-size:14px;
	}
	#yelp{
		font-size:14px;
	}
}

@media print, screen and (max-width: 480px) {

}