<!doctype html>
<html lang = "en">
<head>
	<meta charset = "utf-8" />
	<title>Food Box </title>
	<link rel = "stylesheet" href = "../public/foodbox.css">  
	<link href='http://fonts.googleapis.com/css?family=Hind|Quattrocento+Sans|Kaushan+Script|Lato|Raleway|Cabin+Condensed' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="../public/icon.png"/>
</head>
<body>
	<div id="navbar">
	<ul>
  		<li>ABOUT</li>
  		<li><a class="navlink" id="navContact" href="/contact">CONTACT</a></li>
	</ul>
	</div>
	<div id="separation">
	<header>
		<h1><a id="name" href="/">Food Box</a><h1>
	</header>
	</div>
	<div id="background">
	<div id="separation_2">
		
			<img id="awning" src="../public/awning.png"/>
	<section id="home_section">
		<div id="aboutText">
			<h3><b>About Food Box</b></h3>
		</div>
		<p id="paragraph">
			Food Box is a project made by two amateur developers to explore code and web development.
			</br>The concept was inspired by our own difficulties in choosing where to dine.
			</br></br>
		We hope you enjoy using our application, and please let us know about any
	</br>comments or suggestions in the "CONTACT" section!
		</p>
	</section>
	</div>
	</div>

	<div id="lastpart">
	</div>

		
	<footer>
	©Food Box 2016. All Rights Reserved.
	</footer>

</body>
</html>
