<!doctype html>
<html lang = "en">
<head>
	<meta charset = "utf-8" />
	<title>Food Box </title>
	<link rel = "stylesheet" href = "../public/foodbox.css">  
	<link href='http://fonts.googleapis.com/css?family=Hind|Quattrocento+Sans|Kaushan+Script|Lato|Raleway' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="../public/icon.png"/>
</head>
<body>
	<div id="separation">
	<header>
		<h1><a id="name" href="/">Food Box</a><h1>
	</header>
	</div>
	<div id="background">
	<div id="separation_2">
		
			<img id="awning" src="../public/awning.png"/>
	<section id="home_section">
			<h3><b>Welcome to Food Box!</b></h3>
			<p id ="intro">Food Box is designed to help you find your next meal.
			</br>Simply enter your location below and discover eateries nearby!
			</p>
			<span id="locationInput">
			</br>Location
      		<form action="/result" method="post">
      			<input type="text" id="textarea" name="content" placeholder="San Francisco, CA"/>
      			<div><input class="btn" id="button" type="submit" value="BEGIN" /></div>
      		</span>
    	</form>
	</section>
	</div>
	</div>

	<div id="lastpart">
	</div>
			
		
	<footer>
	©Food Box 2015. All Rights Reserved.
	</footer>

</body>
</html>
