<!doctype html>
<html lang = "en">
<head>
	<meta charset = "utf-8" />
	<meta name="author" content="Alex Shan, Jonathan Yao">
		<meta name="title" content="Food Box">
	<meta name="description" content="Web application built to recommend nearby restaurants">
	<title>Food Box </title>
	<link rel = "stylesheet" href = "../public/foodbox.css">  
	<link href='http://fonts.googleapis.com/css?family=Hind|Quattrocento+Sans|Kaushan+Script|Lato|Raleway|Cabin+Condensed' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="../public/icon.png"/>
</head>
<body>
	<div id="navbar">
	<ul>
  		<li><a class="navlink" id="navAbout" href="/about">ABOUT</a></li>
  		<li><a class="navlink" id="navContact" href="/contact">CONTACT</a></li>
	</ul>
	</div>
	<div id="separation">
	<header>
		<h1><a id="name" href="/">Food Box</a><h1>
	</header>
	</div>
	<div id="background">
	<div id="separation_2">
		
			<img id="awning" src="../public/awning.png"/>
	<section id="home_section">
		<div id="text">
			<h3><b>Welcome to Food Box!</b></h3>
			<p id ="intro">Food Box is designed to help you find your next meal.
			</br>Simply enter your location below and discover eateries nearby!
			</p>
		</div>
		<span id="locationInput">
			</br>Location
      		<form action="/result" method="post">
      			<!--
      			<input type="text" id="textarea" name="termInput" placeholder="Restaurants"/>
      			-->
      			<input type="text" id="textarea" name="locInput" placeholder="San Francisco, CA"/>
      			<div><input class="btn" id="button" type="submit" value="BEGIN" /></div>
      		</span>
    		</form>
	</section>
	</div>
	</div>

	<div id="lastpart">
	</div>
		
	<footer>
	©Food Box 2016. All Rights Reserved.
	</footer>

</body>
</html>
